# past/old work to be ignored
legend/
api/hf_mistral/
api/cerebras/

# ignore virtual environment and pycache folders
.venv/
ollama/langchain_tools/__pycache__/
ollama/prompt_langchain/__pycache__/

# ignore .env files
api/gemini/.env
api/hf_mistral/.env
ollama/langchain_tools/.env
ollama/prompt_langchain/.env
.python-version

